[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
pylab-sdk = "*"
matplotlib = "*"
scikit-learn = "*"
scikit-learn-extra = "*"
seaborn = "*"
torchvision = "*"
urllib3 = "==1.2.2"

[dev-packages]

[requires]
