[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
pylab-sdk = "*"
matplotlib = "*"
scikit-learn = "*"
torchvision = "*"
seaborn = "*"
scikit-learn-extra = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
